CodeWarrior/EstMeteorologica/.settings

CodeWarrior/EstMeteorologica/Documentation

CodeWarrior/EstMeteorologica/FLASH

CodeWarrior/EstMeteorologica/Generated_Code

CodeWarrior/EstMeteorologica/Lib

CodeWarrior/EstMeteorologica/Project_Headers/

CodeWarrior/EstMeteorologica/Project_Settings

CodeWarrior/EstMeteorologica/.cproject

CodeWarrior/EstMeteorologica/.cwGeneratedFileSetLog

CodeWarrior/EstMeteorologica/.ProcessorExpert.g_c

CodeWarrior/EstMeteorologica/.ProcessorExpert.g_x

CodeWarrior/EstMeteorologica/.project

CodeWarrior/EstMeteorologica/.ProcessorExpert.pe

CodeWarrior/EstMeteorologica/.ReferencedRSESystems.xml

Processing/Brújula/Brujula_test/Brujula_test.pde